/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Seta fixa à esquerda */
.seta-flutuante {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.seta-flutuante a {
    text-decoration: none;
}

/* Tamanhos específicos para cada seta */
.seta-flutuante img.seta-pequena {
    width: 50px;
}

.seta-flutuante img.seta-grande {
    width: 150px;
}

/* Conteúdo principal */
.conteudo-principal {
    margin-left: 50px;
}

/* Imagem do perfil */
.foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Para garantir que a imagem não fique distorcida */
}
